In [14]:
word_dict={}
with open("poem.txt","r") as f:
    for line in f:
        words=line.split(" ")
        for word in words:
            if word in word_dict:
                word_dict[word]+=1
            else:
                word_dict[word]=1
print(word_dict)
word_list=list(word_dict.values())
print(word_list)
max_count=max(word_list)
print("maximum count of any word is:",max_count)
for word,count in word_dict.items():
    if count==max_count:
        print(f"maximum word is-{word}:{count}")

{'Two': 2, 'roads': 2, 'diverged': 2, 'in': 3, 'a': 3, 'yellow': 1, 'wood,\n': 1, '': 11, 'And': 6, 'sorry': 1, 'I': 8, 'could': 1, 'not': 1, 'travel': 1, 'both\n': 1, 'be': 2, 'one': 3, 'traveler,': 1, 'long': 1, 'stood\n': 1, 'looked': 1, 'down': 1, 'as': 5, 'far': 1, 'could\n': 1, 'To': 1, 'where': 1, 'it': 2, 'bent': 1, 'the': 8, 'undergrowth;\n': 1, '\n': 3, 'Then': 1, 'took': 2, 'other,': 1, 'just': 1, 'fair,\n': 1, 'having': 1, 'perhaps': 1, 'better': 1, 'claim,\n': 1, 'Because': 1, 'was': 1, 'grassy': 1, 'and': 3, 'wanted': 1, 'wear;\n': 1, 'Though': 1, 'for': 2, 'that': 3, 'passing': 1, 'there\n': 1, 'Had': 1, 'worn': 1, 'them': 1, 'really': 1, 'about': 1, 'same,\n': 1, 'both': 1, 'morning': 1, 'equally': 1, 'lay\n': 1, 'In': 1, 'leaves': 1, 'no': 1, 'step': 1, 'had': 1, 'trodden': 1, 'black.\n': 1, 'Oh,': 1, 'kept': 1, 'first': 1, 'another': 1, 'day!\n': 1, 'Yet': 1, 'knowing': 1, 'how': 1, 'way': 1, 'leads': 1, 'on': 1, 'to': 1, 'way,\n': 1, 'doubted': 1, 'if': 1, 'should': 1, 'ever': 1, 'come': 1, 'back.\n': 1, 'shall': 1, 'telling': 1, 'this': 1, 'with': 1, 'sigh\n': 1, 'Somewhere': 1, 'ages': 2, 'hence:\n': 1, 'wood,': 1, 'Iâ€”\n': 1, 'less': 1, 'traveled': 1, 'by,\n': 1, 'has': 1, 'made': 1, 'all': 1, 'difference.': 1}
[2, 2, 2, 3, 3, 1, 1, 11, 6, 1, 8, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 5, 1, 1, 1, 1, 2, 1, 8, 1, 3, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
maximum count of any word is: 11
maximum word is-:11

In [36]:
# Company Name	Price	Earnings Per Share	Book Value
# Reliance	1467	66	653
# Tata Steel	391	89	572
# Infosys	650	35	147
# Axis Bank	739	19	263
# Bajaj Finance	4044	69	341
import pandas as pd 
d={"Company Name":["Reliance","Tata Steel","Infosys","Axis Bank","Bajij Finance"],
   "Price":[1467,394,650,739,4044],
   "Earnings Per Share":[66,89,147,263,69],
   "Book value":[653,572,147,263,341]}
df=pd.DataFrame(d)
df.to_csv("Stocks.csv",index=False)
df1=pd.read_csv("Stocks,csv")
df1=df1.reset_index(drop=True)
df1.set_index("Company Name",inplace=True)
df1

               Price  Earnings Per Share  Book value
Company Name
Reliance        1467                  66         653
Tata Steel       394                  89         572
Infosys          650                 147         147
Axis Bank        739                 263         263
Bajij Finance   4044                  69         341

In [35]:
# Company Name	PE Ratio	PB Ratio
# Reliance	22.23	2.25
# Tata Steel	4.39	0.68
# Infosys	18.57	4.42
# Axis Bank	38.89	2.81
# Bajaj Finance	58.61	11.8
d={"Company Name":["Reliance","Tata Steel","Infosys","Axis Bank","Bajaj Finance"],
    "PE Ratio":[22.23,4.39,18.57,38.89,58.61],
    "PB Ratio":[2.25,.68,4.42,2.81,11.8]}
df=pd.DataFrame(d)
df.to_csv("output.csv",index=False)
df

    Company Name  PE Ratio  PB Ratio
0       Reliance     22.23      2.25
1     Tata Steel      4.39      0.68
2        Infosys     18.57      4.42
3      Axis Bank     38.89      2.81
4  Bajaj Finance     58.61     11.80

In [43]:
with open("Stocks.csv", "r") as f, open("output.csv", "w") as out:
    out.write("Company Name,PE Ratio, PB Ratio\n")
    next(f)  # This will skip first line in the file which is a header
    for line in f:
        tokens = line.split(",")
        stock = tokens[0]
        price = float(tokens[1])
        eps = float(tokens[2])
        book = float(tokens[3])
        pe = round(price / eps, 2)
        pb = round(price / book, 2)
        out.write(f"{stock},{pe},{pb}\n")
        
        print(tokens)
        print(stock)

['Reliance', '1467', '66', '653\n']
Reliance
['Tata Steel', '394', '89', '572\n']
Tata Steel
['Infosys', '650', '147', '147\n']
Infosys
['Axis Bank', '739', '263', '263\n']
Axis Bank
['Bajij Finance', '4044', '69', '341\n']
Bajij Finance