In [4]:
# 1. Create 3 variables to store street, city and country, now create address variable to
# store entire address. Use two ways of creating this variable, one using + operator and the other using f-string.
# Now Print the address in such a way that the street, city and country prints in a separate line

street="12/3 uttara"
city="dhaka"
country="Bangladesh"
address=street+"\n"+city+"\n"+country
print("street,city,country:",street,",",city,",",country)
print(f"{street}-{city}-{country}")
print(address)

street,city,country: 12/3 uttara , dhaka , Bangladesh
12/3 uttara-dhaka-Bangladesh
12/3 uttara
dhaka
Bangladesh

In [8]:
# 2. Create a variable to store the string "Earth revolves around the sun"
#     1. Print "revolves" using slice operator
#     2. Print "sun" using negative index
a="Earth revolves around the sun"
print(a[6:14])
print(a[-3:])

revolves
sun

In [12]:
# 3. Create two variables to store how many fruits and vegetables you eat in a day.
# Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday.
# Use python f string for this.
fruits=6
vegetables=13
print(f"I eat {fruits} fruits and {vegetables} vaggies daily")

I eat 6 fruits and 13 vaggies daily

In [15]:
# 4. I have a string variable called s='maine 200 banana khaye'. This of course is a
# wrong statement, the correct statement is 'maine 10 samosa khaye'.
# Replace incorrect words in original strong with new ones and print the new string.
# Also try to do this in one line
s='maine 200 banana khaye'
s=s.replace("200 banana","10 samosa")
print(s)

maine 10 samosa khaye

In [29]:
# 1. Let us say your expense for every month are listed below,
# 	1. January -  2200
#  	2. February - 2350
#     3. March - 2600
#     4. April - 2130
#     5. May - 2190
#
# Create a list to store these monthly expenses and using that find out,
#
# 1. In Feb, how many dollars you spent extra compare to January?
# 2. Find out your total expense in first quarter (first three months) of the year.

months=["jan","feb","mar","apr","may"]
expenses=[2200,2350,2600,2130,2190]

print("from feb to jan: ",months[1],"-",months[0],":",expenses[1]-expenses[0])
print("total expens of first 3 months:",expenses[0]+expenses[1]+expenses[2])

from feb to jan:  feb - jan : 150
total expens of first 3 months: 7150

In [32]:
for i in range(4):
    if expenses[i]==2200:
        print("True")
        break
    else:
        print("False")

True

In [33]:
print(2000 in expenses)

False

In [37]:
# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
months=["jan","feb","mar","apr","may"]
expenses=[2200,2350,2600,2130,2190]
months.append("june")
expenses.append(1980)
print(months,":",expenses)

['jan', 'feb', 'mar', 'apr', 'may', 'june'] : [2200, 2350, 2600, 2130, 2190, 1980]

In [42]:
# 5. You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this
total=0
for i in expenses:
    total+=i
print(total)
print(total-200)

13450
13250

In [73]:
heros=['spider man','thor','hulk','iron man','captain america']
# 1. Length of the list
# 2. Add 'black panther' at the end of this list
# 3. You realize that you need to add 'black panther' after 'hulk',
#    so remove it from the list first and then add it after 'hulk'
# 4. Now you don't like thor and hulk because they get angry easily :)
#    So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
#    Do that with one line of code.
# 5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)
print(len(heros))
heros.append("black panther")
print(heros)

5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [74]:
heros.remove("black panther")
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [75]:

heros.insert(3,"black panther")
print(heros)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [76]:
# 4. Now you don't like thor and hulk because they get angry easily :)
#    So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
#    Do that with one line of code.
heros[1:3]=["doctor strage"]
print(heros)

['spider man', 'doctor strage', 'black panther', 'iron man', 'captain america']

In [78]:
heros.sort()
heros

['black panther', 'captain america', 'doctor strage', 'iron man', 'spider man']